TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=wYuD7_bqfDp4TeJ7cLHLK6q9NklYiksA
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
SESSION_DRIVER=cookie